/*
 * Globals
 * -------
 */

/* All ul list should have no indentation and no bullet */
 ul {
   list-style-type: none;
   padding: 0;
 }

/* Whole body should use roboto font */
 body {
   font-family: 'Roboto';
 }

 object{
     pointer-events: none;
 }

/* Navbar header should be transparent with no shadow (as mdl transparent class not used)*/
.mdl-layout__header {
  background-color: transparent;
  box-shadow: none;
}

/* background image is set */
.mdl-layout__header--fixed {
  background: url('images/theme2.jpg') center / cover;
  position:static;
}



/* All Cards heading font should be bold and 17 in size*/
#card-heading  {
  padding-bottom: 2px;
  font-weight: bold;
  font-size: 17px;
  color: rgb(143,143,143);
}

/* All Cards sub-heading font should be not bold and 16 in size*/
#card-sub-heading {
  padding-top: 0px;
  font-size: 16px
}

/* Seperator */
.section--separator {
  background-color: white;
  height: 1px;
  margin: 0 70px 0 70px;
}

/* Go Down button */
#go-down-ul {
  text-align: right;
  margin-right: 70px;
  margin-bottom: 50px;
}

.mdl-button--fab.mdl-button--colored {
    color: white;
}

/*
 * Globals END
 * -------
 */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Top Section~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* Introduction */
#intro {
  background-color: transparent;
  height: 450px;
  margin:50px 50px 0px 50px;
}

#intro #title {
  text-align: center;
  font-size: 55px;
  font-weight:bold;
  padding-top: 40px;
  color: white;
}

#intro #subtitle {
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
  color: white;
}

#intro #image {
  margin: auto;
  padding-bottom: 0px;
  width: 250px;
  border-radius: 50%;
  height: 250px;
  background: url('images/myimage.jpg') center / cover;
}

/* About and Skills */
#about-grid {
  max-width: 956px;
  background-color: transparent;
  color: white;
}

#about-grid #about {
  text-align: center;
}

#about-grid #about #heading {
  text-align: center;
}

#about-grid #about #text {
  font-size: 15px;
  font-weight:lighter;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARDS Section~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.cards {
  margin-top: 50px;
  text-align: center;
}

.cards li {
  display: inline-block;
  text-align: left;
}
/* Education Card */

.demo-card-square1.mdl-card {
  width: 345px;
  height: 450px;
  margin-right: 20px;
}

.demo-card-square1 .mdl-card__title {
  color: #fff;
  background: url('images/edu2.jpg') center / cover;
}
.mdl-card--border {
  padding: 0px;
}

/* Skill Card */

.demo-card-square2.mdl-card {
  width: 345px;
  height: 450px;
  margin-right: 20px;
}
.demo-card-square2 .mdl-card__title {
  color: #fff;
  background: url('images/skill.jpg') center / cover;
}
.mdl-card--border {
  padding: 0px;
}


/* Experience Card */


.demo-card-square3.mdl-card {
  width: 345px;
  height: 450px;
}
.demo-card-square3 .mdl-card__title {
  color: #fff;
  background: url('images/exp2.jpg') center / cover;
}
.mdl-card--border {
  padding: 0px;
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Footer Section~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Footer Separtor */
#footer-seperator {
  margin-top: 50px;
}

/* Footer should be transparent */
.mdl-mini-footer {
  background-color: transparent;
  /*margin: 0px 70px 0 70px;*/
  padding: 10px 0px 10px 0px;

}

/* Footer SVGs */
.mdl-mini-footer .svg {
  display: block;
  width: 26px;
  height: 26px;
  /*background-size: 30px 30px;*/
  padding-right: 20px;

}
#email {
  height: 24px;
  margin-top: 1px;
}
.mdl-mini-footer__left-section {
margin: auto;
margin-left: 70px;
}

.mdl-mini-footer__right-section {
  margin-right: 70px;
}

.svg2 {
  display: block;
  width: 300px;
}













/
/*#testcont {
  text-align: center;
}
#test1 {
display: inline-block;

}

#test2 {
  display: inline-block;
}

#test3 {
  display: inline-block;
}*/
